@charset "utf-8";

$brand-bg: #c1c0be;

$root-color: #fff;
$root-font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;

@import "node_modules/sanitize.css/sanitize.scss";

html {
  // HACK: ウィンドウ幅が足りている場合にスクロールバーを表示させない
  overflow: auto;
}

button {
  cursor: pointer;
  outline: none;
}

address {
  font-style: normal;
}

.brilliance {
  text-shadow: 0 0 6px rgba(#000,.5);
}

.container {
  margin: 1rem;
}

.header {
}

.catch {
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
  text-align: right;

  @media (min-width: 40rem) {
    margin-top: 4rem;
    margin-right: 4rem;
    margin-bottom: 6rem;
  }
}

.logo {
  text-align: center;

  img {
    width: 100%;
    max-width: 618px;
    height: auto;
  }
}

.info {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.detail {
  text-align: center;

  button {
    padding: .6em 1.2em;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid;
    box-shadow: 0 0 6px rgba(#000,.5);
    transition: color .5s, background-color .5s, border-color .5s;

    &:hover {
      color: $brand-bg;
      text-shadow: none;
      background-color: #fff;
      border-color: transparent;
    }
  }
}

.modal {
  position: fixed;
  right: 50%;
  bottom: 50%;
  width: calc(100% - 2rem);
  max-width: 700px;
  max-height: calc(100% - 2rem);
  padding: 3rem 2.5rem 2.5rem 2.5rem;
  overflow-y: auto;
  transform: translate(50%,50%);
  background-color: rgba(#000,.7);
  transition: opacity 1s ease-in-out;

  &--open {
    opacity: 1;
    animation: move-in 1s ease-in-out forwards;
  }

  &--close {
    opacity: 0;
    animation: move-out 1s ease-in-out;
    pointer-events: none;
  }

  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--close {
      pointer-events: none;
    }
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    img {
      cursor: pointer;
    }
  }
}

@keyframes move-in {
  from {
    transform: translate(50%,50%) translate(50vw,50vh) scale(0.01);
  }
  to {
    transform: translate(50%,50%) scale(1);
  }
}

@keyframes move-out {
  from {
    transform: translate(50%,50%) scale(1);
  }
  to {
    transform: translate(50%,50%) translate(-50vw,-50vh) scale(2);
  }
}

.section {
  &:not(:first-of-type) {
    margin-top: 3rem;
  }

  &__title {
    margin-bottom: .1em;
    font-size: 1.2rem;
    color: #00a0e8;
  }

  &__body {
    font-size: .85rem;
  }
}

.exhibition-list {
  list-style: none;

  li {
    //
  }
}

.contact-dl {
  display: flex;
  flex-wrap: wrap;

  .nowrap {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  dt {
    flex-basis: 3rem;
    max-width: 3rem;

    &::after {
      content: "："
    }
  }

  dd {
    flex-basis: calc(100% - 3rem);
    max-width: calc(100% - 3rem);
  }
}

.footer {
  margin-top: 8rem;
  text-align: center;

  @media (min-height: 650px) {
    position: fixed;
    bottom: 2rem;
    left: 0;
    width: 100%;
  }
}

.socials {
  margin-bottom: 1rem;
  list-style: none;

  li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: .5rem;
    }
  }

  button {
    transition: transform .5s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.ecc {
  transition: opacity .5s;

  &:hover {
    opacity: .5;
  }
}

#symbol {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $brand-bg;
  pointer-events: none;
}
