@charset "utf-8";

$root-color: #fff;
$root-line-height: 1.8;
$root-font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;

@import "node_modules/sanitize.css/sanitize.scss";

html {
  // HACK: ウィンドウ幅が足りている場合にスクロールバーを表示させない
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.fade-in {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  margin: 1rem;
}

.headline {
  font-size: 1.6rem;
  margin-bottom: .3em;

  @media (min-width: 60rem) {
    text-shadow: 1px 1px 1px rgba(#000,.3);
  }
}

.header {
  text-align: right;
}

.logo {
  img,
  source {
    max-width: 100%;
    height: auto;
  }
}

.catch {
  margin-top: .4em;
  margin-bottom: .2em;
  font-size: 2rem;
}

.info {
  font-size: 1.2rem;
  line-height: 1.5;
}

.share {
  margin-top: 1rem;
  list-style: none;

  li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 20px;

      @media (min-width: 60rem) {
        margin-left: 5px;
      }
    }
  }

  button {
    border: 2px solid;
    border-radius: 50%;
    transition: background-color .3s;
    outline: none;

    @media (min-width: 60rem) {
      transform: scale(.8);
    }
  }
}

#twitter:hover {
  background-color: #55acee;
}

#facebook:hover {
  background-color: #3b5998;
}

.main {
  @media (min-width: 60rem) {
    max-width: 34rem;
    font-size: 90%;
  }
}

.section {
  margin-top: 2rem;
}

.exhibition-list {
  list-style: none;

  li {
    &::before {
      content: "・";
    }

    @media (min-width: 60rem) {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.5em;
      }
    }
  }
}

.contact-dl {
  display: flex;
  flex-wrap: wrap;

  .nowrap {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  dt {
    flex-basis: 3em;
    max-width: 3em;

    &::after {
      content: "："
    }
  }

  dd {
    flex-basis: calc(100% - 3em);
    max-width: calc(100% - 3em);
  }
}

.ecc {
  font-weight: bold;
}

.copyright {
  margin-top: 2rem;
  margin-right: -1rem;
  margin-left: -1rem;
  padding-top: 1em;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: .8rem;
  text-align: center;
  border-top: 1px dotted;

  @media (min-width: 60rem) {
    text-align: right;
    border-top: 0;
  }
}

#symbol {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #c1c0be;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,.3);
  }
}
